@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Rubik:wght@300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: white;
  --title-color: black;
  --bg-color: white;
  --header-color: rgba(255, 255, 255, 0.4);
  --apply-text: #dadada;
  --apply-text2: #ffffff;
  --team-bg: #595555;
  --bg: white;
  --shadow-1: #d9d9d9;
  --shadow-2: #ffffff;
  --grey: rgb(85, 84, 84);
  --donor-bg: url(/assets/donors/donor-detail-light.png);
}

[data-theme="dark"] {
  --primary-color: #ffffff;
  --secondary-color: #1e1e33;
  --title-color: #ffffff;
  --bg-color: #161625;
  --header-color: #161625;
  --apply-text: #0c0c15;
  --apply-text2: #202035;
  --bg: #161625;
  --shadow-1: #13131f;
  --shadow-2: #19192b;
  --grey: rgb(204, 201, 201);
  --donor-bg: url(/assets/donors/donor-detail-dark.png);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #48dbfb60;
}

::selection {
  background-color: #48dbfb60;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #353b48;
}

body {
  background-color: var(--bg-color);
  color: var(--title-color);
  width: 100%;
  overflow-x: hidden;
}

header {
  background: var(--header-color);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  height: 73px;
}

.itsnp {
  border-radius: 2px;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.itsnp img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.itsnp img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.SNP {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: var(--primary-color);
}

.SNP:hover {
  font-size: larger;
  opacity: 0.9;
}

.inner-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: -2px 5px;
  margin: 0rem 2.5rem;
}

.gradient-btn button {
  font-size: 1.2em;
  font-weight: bolder;
  width: 150px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.gradient-btn button:hover {
  background-position: 100% 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.gradient-btn button:focus {
  outline: none;
}

.gradient-btn button {
  background-image: -webkit-gradient(linear, left top, right top, from(#25aae1), color-stop(#40e495), color-stop(#30dd8a), to(#2bb673));
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  -webkit-box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
          box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.about-title-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-itsnp {
  width: 100%;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#highlight {
  color: #40e495;
  font-size: larger;
  text-shadow: none;
}

.about-title-top img {
  width: 50px;
}

.about-title-top span {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8em;
  line-height: 75px;
  color: var(--primary-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-title-top .sndline {
  font-size: 2em;
}

.about-title-top p {
  margin-top: 5vh;
  font-weight: 500;
  font-size: 1.7em;
  text-align: left;
}

.about-title-second {
  display: -ms-grid;
  display: grid;
  margin-top: 1em;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.about-title-second p {
  font-weight: 500;
  font-size: 1.7em;
  color: var(--primary-color);
  text-align: left;
  vertical-align: top;
}

.bepart-heading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 3em;
  color: var(--primary-color);
}

.bepart-heading {
  font-size: 2rem;
  padding-left: 5rem;
  margin: 0 0 1rem 0;
}

.apply-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.apply-text h3,
.apply-btn button {
  border: none;
  background: none;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1%;
  color: var(--primary-color);
}

.apply-text-button-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  place-items: center;
  text-align: center;
  grid-gap: 1rem;
}

.apply-text-button-box h3 {
  font-size: 1.2rem !important;
  text-align: center;
  border-radius: 50px;
  padding: 1rem;
  font-size: clamp(14px, 1.4rem, 32px);
  -webkit-box-shadow: 5px 5px 15px var(--apply-text), -5px -5px 15px var(--apply-text2);
          box-shadow: 5px 5px 15px var(--apply-text), -5px -5px 15px var(--apply-text2);
}

.apply-text h3 {
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 15px var(--apply-text), -5px -5px 15px var(--apply-text2);
          box-shadow: 5px 5px 15px var(--apply-text), -5px -5px 15px var(--apply-text2);
}

.real-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 14rem;
          column-gap: 14rem;
  margin-top: 2vh;
}

.register-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-text h3 {
  font-size: 20px;
  font-weight: bolder;
  padding: 1rem 2rem;
  margin-top: 4vh;
  text-align: center;
  text-decoration: none;
  background: none;
  border: none;
}

.team-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  color: var(--primary-color);
}

.team-title i {
  margin-top: 18px;
  margin-left: 10px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.teams-section {
  padding: 5rem;
}

.team img {
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: var(bg);
  background-image: url(/assets/images/Circles.svg);
  border-radius: 18px;
  padding: 1rem;
  -webkit-box-shadow: 11px 11px 22px var(--shadow-1), -11px -11px 22px var(--shadow-2);
          box-shadow: 11px 11px 22px var(--shadow-1), -11px -11px 22px var(--shadow-2);
}

.bepart-heading-box img {
  margin-left: 0.5rem;
  height: 50px;
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

/* footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.footer a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  width: 50px;
  position: relative;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer a i {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer a:hover > i {
  -webkit-transform: scale(1.4) rotate(25deg);
          transform: scale(1.4) rotate(25deg);
  /* color: var(--primary-color); */
}

.footer .fb {
  color: #1877f2;
}

.footer .dc {
  color: #7289da;
}

.footer .yt {
  color: #ff0000;
}

.footer .inst {
  color: #ff5100;
}

.footer .twt {
  color: #1da1f2;
}

#group {
  margin-left: 15px;
}

.container-wwd {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.container-wwd .title {
  padding-left: 0 !important;
}

.container-wwd img {
  width: 400px;
  height: auto;
}

.container-wwa {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.container-wwa .title {
  padding-left: 0 !important;
}

.container-wwa img {
  width: 400px;
  height: auto;
}

.theme-switch input {
  display: none;
}

.slider .fa-moon {
  display: none;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider .fa-sun:before {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider .fa-moon {
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider .fa-sun:before {
  display: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider {
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  margin-top: -46px;
  margin-right: 13px;
}

.slider i {
  height: 0px;
}

.theme-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.What-we-do {
  font-family: "Ubuntu", sans-serif;
}

@media (max-width: 700px) {
  .team img {
    width: 100%;
  }
  .about-itsnp {
    padding: 1.5rem;
  }
  .about-title-second {
    display: block;
  }
  .about-title-second .empty-div {
    display: none;
  }
  .apply-text-button-box {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }
  .bepart-heading {
    padding-left: 1rem;
  }
  .teams-section {
    padding: 1rem;
  }
  .container-wwd,
  .container-wwa {
    padding: 1rem;
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 1.5rem;
  }
  .container-wwd .title,
  .container-wwa .title {
    padding-left: 0 !important;
  }
  .container-wwd img,
  .container-wwa img {
    width: 90%;
    height: auto;
  }
  .container-wwd li,
  .container-wwa li {
    font-size: 1.1rem;
    font-weight: lighter;
  }
  .container-wwd .title ul li {
    list-style: circle;
  }
  .aim-box {
    padding-left: 5px !important;
  }
  .hands {
    padding: 1rem;
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 1.5rem;
  }
  #dreaming-kid {
    width: 350px !important;
    height: auto;
  }
  .img-size {
    width: 350px !important;
    height: auto;
  }
  .donor-text {
    padding-left: 1em !important;
  }
  #hamro-donors {
    width: 352px !important;
    height: auto !important;
  }
}

@media (max-width: 550px) {
  .about-title-top p,
  .about-title-second p {
    font-size: 1.1rem !important;
  }
  .about-title-top .sndline {
    font-size: 1.5rem;
  }
  .about-itsnp {
    padding: 1rem;
  }
  .apply-text-button-box {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .team-title {
    font-size: 1.5rem;
    margin-left: 0;
    padding-left: 1rem;
  }
  .team-title i {
    margin: 0;
  }
  .container-wwd .title ul li,
  .container-wwa .wwa-second-title ul li {
    list-style: circle;
  }
  .aim-box {
    padding-left: 5px !important;
  }
}

.container-wwd,
.container-wwa {
  display: -ms-grid;
  display: grid;
  margin: auto;
}

.container-wwd .title ul,
.container-wwa .wwa-second-title ul {
  font-size: 1.9em;
  padding-left: 1.5rem;
  font-weight: 450;
}

.container-wwd .title ul li,
.container-wwa .wwa-second-title ul li {
  list-style-image: url(/assets/images/bulletin.png);
}

.img-size {
  border-radius: 5px;
}

.gradient-btn button {
  margin-top: 2vh;
}

.wwd-second-title {
  padding-left: 0 !important;
}

.aim-box {
  padding-left: 9rem;
}

#paragraph {
  font-size: 1.5em;
}

.hands {
  display: -ms-grid;
  display: grid;
  margin: auto;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-gap: 2rem;
}

.img-size {
  height: auto;
  width: 396px;
}

.loader {
  background: black url(/assets/gif/preloader.gif) no-repeat center center;
  /* background: #000; */
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10000;
  -webkit-animation: p;
          animation: p;
}

.donor-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 14rem;
  padding-top: 6vh;
}

.donor-text p {
  font-size: 1.5em;
}

.donor-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hamro-donors {
  width: 600px;
  height: auto;
}

.donor {
  -webkit-transition: 1s;
  transition: 1s;
}

.donator:hover {
  border-radius: 50px;
  -webkit-transition: 5s;
  transition: 5s;
  background-color: rgba(0, 0, 0, 0.466);
}

.outro {
  margin-top: 5vh;
}

.outro #bye img {
  height: auto;
  width: 60px;
}

#title-span {
  font-size: 2.5em;
  font-weight: bold;
}

.bottm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6vh;
}

.foot-btm {
  margin-top: 10vh;
}
/*# sourceMappingURL=style.css.map */