@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: white;
  --title-color: black;
  --bg-color: white;
  --header-color: rgba(255, 255, 255, 0.4);
  --apply-text: #dadada;
  --apply-text2: #ffffff;
  --team-bg: #595555;

  --bg: white;
  --shadow-1: #d9d9d9;
  --shadow-2: #ffffff;
}

[data-theme="dark"] {
  --primary-color: #ffffff;
  --secondary-color: #1e1e33;
  --title-color: #dfd6d6;
  --bg-color: #161625;
  --header-color: #161625;
  --apply-text: #0c0c15;
  --apply-text2: #202035;
  --team-bg: ;

  --bg: #161625;
  --shadow-1: #13131f;
  --shadow-2: #19192b;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #48dbfb60;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #353b48;
}

body {
  background-color: var(--bg-color);
  color: var(--title-color);
  width: 100%;
}

header {
  background: var(--header-color);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);

  width: 100%;
  height: 73px;
}

.itsnp {
  border-radius: 2px;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.itsnp img {
  transition: 0.4s;
}

.itsnp img:hover {
  transform: scale(1.1);
}

.SNP {
  transition: 0.4s;
  color: var(--primary-color);
}

.SNP:hover {
  font-size: larger;
  opacity: 0.9;
}

.inner-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: -2px 5px;
  margin: 0rem 2.5rem;
}

.gradient-btn button {
  font-weight: bolder;
  width: 150px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.gradient-btn button:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.gradient-btn button:focus {
  outline: none;
}

.gradient-btn button {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.top-title {
  display: flexbox;
  margin-left: 14vw;
  margin-top: 10vh;
}

.top-title img {
  width: 50px;
}

.top-title span {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
  color: var(--primary-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top-title .sndline {
  margin-top: 4vh;
  font-size: 40px;
}

.top-title p {
  margin-top: 5vh;
  font-weight: 500;
  font-size: 30px;
}

.top-title2 {
  display: flexbox;
  margin-left: 52vw;
  margin-top: 10vh;
  margin-bottom: 6vh;
}

.top-title2 p {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: var(--primary-color);
}

.bepart {
  display: flex;
  margin-left: 14vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 75px;
  margin-bottom: 5vh;
  color: var(--primary-color);
}

.apply-text {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.apply-text button,
.apply-btn button {
  border: none;
  background: none;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1%;
  color: var(--primary-color);
}

.apply-text button {
  border-radius: 50px;
  box-shadow: 5px 5px 15px var(--apply-text), -5px -5px 15px var(--apply-text2);
}

.real-btn {
  display: flex;
  justify-content: center;
  column-gap: 14rem;
  margin-top: 2vh;
}

.second-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

.second-text button {
  padding: 1%;
  width: 32%;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background: none;
  border: none;
}

.kot {
  display: flex;
  margin-left: 14vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5em;
  line-height: 75px;
  margin-bottom: 5vh;
  color: var(--primary-color);
}
.kot i {
  margin-top: 18px;
  margin-left: 10px;
}

.team {
  display: flex;
  justify-content: center;
}

.team img {
  width: 1000px;
  background-color: var(bg);
  background-image: url(/assets/Circles.svg);
  border-radius: 50px;
  box-shadow: 11px 11px 22px var(--shadow-1), -11px -11px 22px var(--shadow-2);
}

/* footer */

.footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: inline-flex;
  text-decoration: none;
  width: 50px;
  position: relative;
  border-radius: 50%;
  justify-content: center;
  font-size: 25px;
  align-items: center;
  transition: 0.4s;
}

.footer a i {
  transition: 0.4s;
}

.footer a:hover > i {
  transform: scale(1.4) rotate(25deg);
  /* color: var(--primary-color); */
}

.footer .fb {
  color: #1877f2;
}
.footer .dc {
  color: #7289da;
}
.footer .yt {
  color: #ff0000;
}
.footer .inst {
  color: rgb(255, 81, 0);
}
.footer .twt {
  color: #1da1f2;
}
