.theme-switch-wrapper {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 1px;
}

/* .theme-switch {
  display: flex;
} */

.theme-switch input {
  display: none;
}

.slider .fa-moon {
  display: none;
  cursor: pointer;
  transition: 0.4s;
}

.slider .fa-sun:before {
  cursor: pointer;
  transition: 0.4s;
}

input:checked + .slider .fa-moon {
  display: block;
  transition: 0.4s;
}

input:checked + .slider .fa-sun:before {
  display: none;
  transition: 0.4s;
}

.slider {
  transform: rotate(-25deg);
}
.slider i {
  height: 0px;
}
.theme-switch {
  margin-left: 80vw;
}
