.theme-switch input {
  display: none;
}

.slider .fa-moon {
  display: none;
  cursor: pointer;
  transition: 0.4s;
}

.slider .fa-sun:before {
  cursor: pointer;
  transition: 0.4s;
}

input:checked + .slider .fa-moon {
  display: block;
  transition: 0.4s;
}

input:checked + .slider .fa-sun:before {
  display: none;
  transition: 0.4s;
}

.slider {
  transform: rotate(-25deg);
  margin-top: -46px;
  margin-right: 13px;
}
.slider i {
  height: 0px;
}

.theme-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
